@(posts: Seq[models.Post])
<!DOCTYPE html>
<html>
<head>
<title>Markdown Blog Engine</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body class="index">

<header>
<h1>Markdown Blog Engine</h1>
</header>

<section class="content">
@for(post <- posts) {
  <h2>
    <a href="@routes.Application.post(post.slug)">@post.property("title")</a>
    <span class="date">@post.property("date")</span>
  </h2>
  @if(post.properties.hasPath("summary")) {
    @views.Helpers.markdown(post.properties.getString("summary"))
  }
}
</section>

<footer>
<p>MABE • Markdown Blog Engine • http://github.com/hilton/mabe</p>
</footer>

</body>
</html>
