@(title: String, properties: com.typesafe.config.Config = com.typesafe.config.ConfigFactory.empty)(content: Html)
<!DOCTYPE html>
<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>

@if(!properties.isEmpty) {
  <nav>
    <a href="@routes.Application.index">Home</a>
  </nav>
}

<header>
<h1>@title</h1>
</header>

<section class="byline">
  <p>
    @List(properties.getString("author"), properties.getString("date")).mkString(" • ")
    @properties.getString("tags").split(" ").map { tag =>
      <a class="tag" href="">#@tag</a>
    }
  </p>
</section>

<section class="summary">
@if(properties.hasPath("summary")) {
  @views.Helpers.markdown(properties.getString("summary"))
}
</section>

<section class="content">@content</section>
@if(properties.hasPath("summary")) {
  <section class="signature">@views.Helpers.markdown(properties.getString("signature"))</section>
}

<footer>
<p>MABE • Markdown Blog Engine • http://github.com/hilton/mabe</p>
</footer>
</body>
</html>
